In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame(np.random.random((3,3)))

In [8]:
df.index = ['a','b','c']
df.columns = ['d','e','f']

In [9]:
df

          d         e         f
a  0.256218  0.924822  0.086563
b  0.147632  0.786325  0.054409
c  0.442634  0.917592  0.295400

In [10]:
df = pd.DataFrame(np.random.rand(10,5))
df.head(3)

          0         1         2         3         4
0  0.569139  0.410268  0.150883  0.033166  0.767068
1  0.701252  0.052578  0.759524  0.009117  0.529312
2  0.694034  0.782846  0.059771  0.704952  0.405314

In [11]:
df.tail(3)

          0         1         2         3         4
7  0.749866  0.561983  0.739930  0.657861  0.524861
8  0.927116  0.158184  0.130090  0.048140  0.781356
9  0.294547  0.221946  0.089489  0.390441  0.041081

In [13]:
df.shape

(10, 5)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
0    10 non-null float64
1    10 non-null float64
2    10 non-null float64
3    10 non-null float64
4    10 non-null float64
dtypes: float64(5)
memory usage: 480.0 bytes

In [17]:
df.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.523610   0.388260   0.421681   0.412439   0.489962
std     0.242568   0.301808   0.328711   0.321634   0.297164
min     0.155118   0.005731   0.059771   0.009117   0.041081
25%     0.346882   0.174124   0.135288   0.078787   0.250652
50%     0.493892   0.323696   0.336573   0.481207   0.527087
75%     0.699448   0.575149   0.725038   0.693179   0.710749
max     0.927116   0.872401   0.933613   0.829711   0.958550

In [26]:
s = pd.Series([1,2,3,3,4,np.nan,5,5,5,6,7])
s.value_counts(dropna=False)

 5.0    3
 3.0    2
 7.0    1
 6.0    1
NaN     1
 4.0    1
 2.0    1
 1.0    1
dtype: int64

In [35]:
df.iloc[9,1]

0.22194605860146766

In [36]:
df = pd.DataFrame({'A':np.array(['foo','foo','foo','foo','bar','bar']),
      'B':np.array(['one','one','two','two','three','three']),
     'C':np.array(['small','medium','large','large','small','small']),
     'D':np.array([1,2,2,3,3,5])})

In [37]:
df

     A      B       C  D
0  foo    one   small  1
1  foo    one  medium  2
2  foo    two   large  2
3  foo    two   large  3
4  bar  three   small  3
5  bar  three   small  5

In [48]:
a = df.groupby(['A','B']).min()
df.count(axis=1)

0    4
1    4
2    4
3    4
4    4
5    4
dtype: int64

In [51]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
pd.concat([df1,df2],axis=1)

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [54]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],           
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
   

df2 = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['A0', 'A1']})
pd.merge(df1,df2,left_on='A',right_on='D',how='outer')

    A   B key    C    D
0  A0  B0  K0   C0   A0
1  A1  B1  K1   C1   A1
2  A2  B2  K0  NaN  NaN
3  A3  B3  K1  NaN  NaN